.theme__button[type="button"] {
  padding: 1em;
  background-color: rgb(230, 230, 230);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.theme__button[type="button"]:hover {
  transition: all 0.2s ease;
  background-color: rgb(189, 191, 192);
  box-shadow: 1px 5px 10px rgb(200, 200, 200);
}

.light-theme {
  background-color: #fff;
  color: #000;
}
.dark-theme {
  background-color: #000;
  color: #fff;
}
