.person__wrap {
  padding: 0.8em;
  border: 1px solid rgb(176, 171, 171);
  border-radius: 10px;
  margin: 0.6rem;
}
.person__info {
  list-style: none;
}
.person__info li {
  padding: 0.2rem;
}
.options {
  width: 100%;
  margin: 0 auto;
}
.options {
  display: flex;
  place-content: center;
  gap: 1.3em;
}
